html{
  font-size: 1.0em; /* 16px */
  line-height: 1.25em; /* 20px*/
  text-rendering: optimizeLegibility;
}

body{
  font-family: 'Noto Sans', sans-serif;
  color: black;
  background-color:#DCDCDC;
  padding-top:20px;
}
form{
  border-radius: 7px;
}
label{
  display:block;
  padding: 5px;
  text-align: center
  
}

h1 {
  font-size: 2.25em; 
  line-height: 1.618em; 
  font-style: normal; 
  font-weight: normal;
	text-align: center;
} 
#join{
  background-color:lightblue;
	border: 3px solid black;
}

input{
  resize: vertical;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}
